# Exercises - Classification

**The end product of this exercise is a jupyter notebook (**
`classification_exercises.ipynb`
**) and** 
`acquire.py`
**. The notebook will contain all your work as you move through the exercises. The** 
`acquire.py` 
**file should contain the final functions.**

### In a jupyter notebook, `classification_exercises.ipynb`:

1. **Use a python module containing datasets as a source from the** 
`iris` 
**data. Create a pandas dataframe,** 
`df_iris`
**, from this data.**

  - print the first 3 rows

  - print the number of rows and columns (shape)

  - print the column names

  - print the data type of each column

   - print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

2. **Read** 
`Table1_CustDetails` 
**the excel module dataset,** 
`Excel_Exercises.xlsx`
**, into a dataframe,** 
`df_excel`
**.**

  - assign the first 100 rows to a new dataframe, `df_excel_sample`.

  - print the number of rows of your original dataframe

  - print the first 5 column names

  - print the column names that have a data type of object

  - compute the range for each of the numeric variables.

3. **Read the data from [this google sheet](https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing) into a dataframe,** `df_google`
**.**

  - print the first 3 rows

  - print the number of rows and columns

  - print the column names

  - print the data type of each column

  - print the summary statistics for each of the numeric variables

  - print the unique values for each of your categorical variables

### In a new python module, `acquire.py`:

1. **`get_titanic_data`:** returns the titanic data from the Codeup data science database as a pandas data frame.

2. **`get_iris_data`:** returns the data from the `iris_db` on the Codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids.