# Exercises
**Do your work for these exercises in either a notebook or a python script named** 
`model`
**.**

Problems posted [here](https://ds.codeup.com/7-classification/6.1-logistic-regression/).

In [7]:
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix


import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from acquire import get_titanic_data
from prepare import prep_titanic_data

In [8]:
import acquire as acq
import prepare as prep

from debug import local_settings, timeifdebug, timeargsifdebug, frame_splain

In [14]:
import model as mdl

In [13]:
df, enc, sclr = prep_titanic_data(splain=False)
print(type(df))
acq.check_df(dataframe=df, splain=True)

<class 'pandas.core.frame.DataFrame'>
DATAFRAME SHAPE:
(891, 10)

DATAFRAME INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
class          891 non-null object
embark_town    891 non-null int64
alone          891 non-null int64
dtypes: float64(2), int64(6), object(2)
memory usage: 69.7+ KB
None

DATAFRAME DESCRIPTION:
             count      mean       std  min       25%       50%       75%  max
survived     891.0  0.383838  0.486592  0.0  0.000000  0.000000  1.000000  1.0
pclass       891.0  2.308642  0.836071  1.0  2.000000  3.000000  3.000000  3.0
age          714.0  0.367921  0.182540  0.0  0.247612  0.346569  0.472229  1.0
sibsp        891.0  0.523008  1.102743  0.0  0.000000  0.000000  1.000000  8.0
parch        891.0  0.381594  0.806057  0.0  0.000000  0.000000  0.000000  6.0
fare         891.0  0.062858  0.096995  0.0  0.015440  0.028213  0.060508  1.0
embark_town  891.0  1.536476  0.791503  0.0  1.000000  2.000000  2.000000  2.0
alone        891.0  0.602694  0.489615  0.0  0.000000  1.000000  1.000000  1.0

DATAFRAME HEAD:
   survived  pclass     sex       age  sibsp  parch      fare  class  \
0         0       3    male  0.271174      1      0  0.014151  Third
1         1       1  female  0.472229      1      0  0.139136  First
2         1       3  female  0.321438      0      0  0.015469  Third
3         1       1  female  0.434531      1      0  0.103644  First
4         0       3    male  0.434531      0      0  0.015713  Third

   embark_town  alone
0            2      0
1            0      0
2            2      1
3            2      0
4            2      1

,survived,pclass,sex,age,sibsp,parch,fare,class,embark_town,alone
0,0,3,male,0.271174,1,0,0.014151,Third,2,0
1,1,1,female,0.472229,1,0,0.139136,First,0,0
2,1,3,female,0.321438,0,0,0.015469,Third,2,1
3,1,1,female,0.434531,1,0,0.103644,First,2,0
4,0,3,male,0.434531,0,0,0.015713,Third,2,1
5,0,3,male,NaN,0,0,0.016510,Third,1,1
6,0,1,male,0.673285,0,0,0.101229,First,2,1
7,0,3,male,0.019854,3,1,0.041136,Third,2,0
8,1,3,female,0.334004,0,2,0.021731,Third,2,0
9,1,2,female,0.170646,1,0,0.058694,Second,0,0
10,1,3,female,0.044986,1,1,0.032596,Third,2,0
11,1,1,female,0.723549,0,0,0.051822,First,2,1
12,0,3,male,0.246042,0,0,0.015713,Third,2,1
13,0,3,male,0.484795,1,5,0.061045,Third,2,0
14,0,3,female,0.170646,0,0,0.015330,Third,2,1
15,1,2,female,0.685851,0,0,0.031230,Second,2,1
16,0,3,male,0.019854,4,1,0.056848,Third,1,0
17,1,2,male,NaN,0,0,0.025374,Second,2,1
18,0,3,female,0.384267,1,0,0.035134,Third,2,0
19,1,3,female,NaN,0,0,0.014102,Third,0,1
20,0,2,male,0.434531,0,0,0.050749,Second,2,1
21,1,2,male,0.421965,0,0,0.025374,Second,2,1
22,1,3,female,0.183212,0,0,0.015672,Third,1,1
23,1,1,male,0.346569,0,0,0.069291,First,2,1
24,0,3,female,0.095250,3,1,0.041136,Third,2,0
25,1,3,female,0.472229,1,5,0.061264,Third,2,0
26,0,3,male,NaN,0,0,0.014102,Third,0,1
27,0,1,male,0.233476,3,2,0.513342,First,2,0
28,1,3,female,NaN,0,0,0.015379,Third,1,1
29,0,3,male,NaN,0,0,0.015412,Third,2,1
...,...,...,...,...,...,...,...,...,...,...
861,0,2,male,0.258608,1,0,0.022447,Second,2,0
862,1,1,female,0.597889,0,0,0.050610,First,2,1
863,0,3,female,NaN,8,2,0.135753,Third,2,0
864,0,2,male,0.296306,0,0,0.025374,Second,2,1
865,1,2,female,0.522493,0,0,0.025374,Second,2,1
866,1,2,female,0.334004,1,0,0.027050,Second,0,0
867,0,1,male,0.384267,0,0,0.098561,First,2,1
868,0,3,male,NaN,0,0,0.018543,Third,2,1
869,1,3,male,0.044986,1,1,0.021731,Third,2,0
870,0,3,male,0.321438,0,0,0.015412,Third,2,1
871,1,1,female,0.585323,1,1,0.102579,First,2,0
872,0,1,male,0.409399,0,0,0.009759,First,2,1
873,0,3,male,0.585323,0,0,0.017567,Third,2,1
874,1,2,female,0.346569,1,0,0.046845,Second,0,0
875,1,3,female,0.183212,0,0,0.014102,Third,0,1
876,0,3,male,0.246042,0,0,0.019218,Third,2,1
877,0,3,male,0.233476,0,0,0.015412,Third,2,1
878,0,3,male,NaN,0,0,0.015412,Third,2,1
879,1,1,female,0.698417,0,1,0.162314,First,0,0
880,1,2,female,0.308872,0,1,0.050749,Second,2,0
881,0,3,male,0.409399,0,0,0.015412,Third,2,1
882,0,3,female,0.271174,0,0,0.020527,Third,2,1
883,0,2,male,0.346569,0,0,0.020495,Second,2,1
884,0,3,male,0.308872,0,0,0.013761,Third,2,1
885,0,3,female,0.484795,0,5,0.056848,Third,1,0
886,0,2,male,0.334004,0,0,0.025374,Second,2,1
887,1,1,female,0.233476,0,0,0.058556,First,2,1
888,0,3,female,NaN,1,2,0.045771,Third,2,0
889,1,1,male,0.321438,0,0,0.058556,First,0,1
890,0,3,male,0.396833,0,0,0.015127,Third,1,1

1. **Fit the logistic regression classifier to your training sample and transform** 
*(i.e. make predictions on the training sample)*
**.**

In [ ]:
from sklearn.linear_model import LogisticRegression

logit = LogisticRegression(C=1, class_weight={1:2}, random_state = 123, solver='saga')
logit.fit(X_train, y_train)

2. **Evaluate your in-sample results using the model score, confusion matrix, and classification report.**

3. **Print and clearly label the following:** 
   - Accuracy
   - true positive rate
   - false positive rate
   - true negative rate
   - false negative rate
   - precision
   - recall
   - f1-score
   - support

4. **Look in the scikit-learn documentation to research the solver parameter. What is your best option(s) for the particular problem you are trying to solve and the data to be used?**

5. **Run through steps 2-4 using another** 
`solver` 
**(from question 4)**

6. **Which performs better on your in-sample data?**