# Exercises

## Acquire (`acquire.py`)

### Zillow
**For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.**

**You will have a** 
`zillow.ipynb` 
**file and a helper file for each section in the pipeline.**

In [11]:
###############################################################################
### python imports                                                          ###
###############################################################################

import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.linear_model import LassoCV

import warnings
warnings.filterwarnings("ignore")

# from math import sqrt
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [12]:
###############################################################################
### local imports                                                           ###
###############################################################################

import acquire as acq
import prepare as prep

from wrangle_zillow import get_zillow_data
from debug import local_settings, timeifdebug, timeargsifdebug, frame_splain
from dfo import DFO, set_dfo

#### Acquire & Summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

   - ***Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for*** 
`airconditioningtypeid`
***.***
   - Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
   - Only include properties that include a latitude and longitude value.

In [2]:
local_settings.splain=True
local_settings.debug=True
splain = local_settings.splain
debug = local_settings.debug

In [3]:
dfo = set_dfo(get_zillow_data(), splain=True)

starting get_zillow_data
starting sql_df
starting get_db_url
ending get_db_url ; time: 1.0967254638671875e-05
starting check_df
starting frame_splain
ending frame_splain ; time: 1.6927719116210938e-05
ending check_df ; time: 0.14870691299438477
ending sql_df ; time: 118.18951296806335
ending get_zillow_data ; time: 118.18963813781738
starting set_dfo
ending set_dfo ; time: 9.059906005859375e-06

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [4]:
df = dfo.df

In [39]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 72 columns):
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
county                          77381 non-null object
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
tax_rate                        77375 non-null float64
dtypes: float64(56), int64(3), object(13)
memory usage: 42.5+ MB

In [5]:
frame_splain(dfo.df, title='Zillow Data', splain=True)

starting frame_splain
ZILLOW DATA SHAPE:
(77381, 72)

ZILLOW DATA INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 72 columns):
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
county                          77381 non-null object
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
tax_rate                        77375 non-null float64
dtypes: float64(56), int64(3), object(13)
memory usage: 42.5+ MB
None

ZILLOW DATA DESCRIPTION:
                                count          mean           std  \
id                            77381.0  1.495139e+06  8.609071e+05
parcelid                      77381.0  1.300715e+07  3.481346e+06
airconditioningtypeid         24953.0  1.813289e+00  2.967894e+00
architecturalstyletypeid        206.0  7.388350e+00  2.734542e+00
basementsqft                     50.0  6.797200e+02  6.897035e+02
bathroomcnt                   77381.0  2.299130e+00  9.966507e-01
bedroomcnt                    77381.0  3.053489e+00  1.139096e+00
buildingclasstypeid              15.0  3.933333e+00  2.581989e-01
buildingqualitytypeid         49672.0  6.534587e+00  1.721953e+00
calculatedbathnbr             76772.0  2.316867e+00  9.797549e-01
calculatedfinishedsquarefeet  77185.0  1.785220e+03  9.540493e+02
decktypeid                      614.0  6.600000e+01  0.000000e+00
finishedfloor1squarefeet       6023.0  1.366513e+03  6.713081e+02
finishedsquarefeet12          73749.0  1.760523e+03  9.340243e+02
finishedsquarefeet13             41.0  1.389854e+03  1.235317e+02
finishedsquarefeet15           3009.0  2.357792e+03  1.188775e+03
finishedsquarefeet50           6023.0  1.381772e+03  7.264689e+02
finishedsquarefeet6             386.0  2.082500e+03  1.240383e+03
fips                          77381.0  6.048819e+03  2.074820e+01
fireplacecnt                   8276.0  1.191155e+00  4.910796e-01
fullbathcnt                   76772.0  2.250482e+00  9.665521e-01
garagecarcnt                  25474.0  1.815459e+00  5.883449e-01
garagetotalsqft               25474.0  3.501120e+02  2.616816e+02
hashottuborspa                 1538.0  1.000000e+00  0.000000e+00
heatingorsystemtypeid         49440.0  3.920510e+00  3.592779e+00
latitude                      77381.0  3.400837e+07  2.653888e+05
longitude                     77381.0 -1.182036e+08  3.594826e+05
lotsizesquarefeet             69142.0  2.996928e+04  1.233711e+05
poolcnt                       16137.0  1.000000e+00  0.000000e+00
poolsizesum                     867.0  5.179170e+02  1.567160e+02
pooltypeid10                    464.0  1.000000e+00  0.000000e+00
pooltypeid2                    1074.0  1.000000e+00  0.000000e+00
pooltypeid7                   15042.0  1.000000e+00  0.000000e+00
propertylandusetypeid         77381.0  2.618263e+02  5.141199e+00
rawcensustractandblock        77381.0  6.049129e+07  2.059052e+05
regionidcity                  75910.0  3.367124e+04  4.716982e+04
regionidcounty                77381.0  2.534158e+03  8.015934e+02
regionidneighborhood          30890.0  1.877349e+05  1.651188e+05
regionidzip                   77331.0  9.658709e+04  3.798347e+03
roomcnt                       77381.0  1.476952e+00  2.824386e+00
storytypeid                      50.0  7.000000e+00  0.000000e+00
taxvaluedollarcnt             77380.0  4.901345e+05  6.534440e+05
threequarterbathnbr           10096.0  1.009608e+00  1.186301e-01
unitcnt                       50563.0  1.110021e+00  1.171154e+00
yardbuildingsqft17             2388.0  3.054112e+02  2.383928e+02
yardbuildingsqft26               70.0  2.163857e+02  1.901775e+02
yearbuilt                     77118.0  1.968636e+03  2.378603e+01
numberofstories               17560.0  1.434738e+00  5.445687e-01
fireplaceflag                   172.0  1.000000e+00  0.000000e+00
structuretaxvaluedollarcnt    77269.0  1.893145e+05  2.300874e+05
assessmentyear                77381.0  2.016000e+03  0.000000e+00
landtaxvaluedollarcnt         77379.0  3.010954e+05  4.925960e+05
taxamount                     77376.0  5.995532e+03  7.622844e+03
taxdelinquencyyear             2886.0  1.408732e+01  2.185663e+00
typeconstructiontypeid          222.0  6.040541e+00  5.572847e-01
censustractandblock           77137.0  6.049673e+13  1.535242e+12
logerror                      77381.0  1.662499e-02  1.701908e-01
transactions                  77381.0  1.002559e+00  5.128151e-02
tax_rate                      77375.0  1.316904e-02  5.828083e-03

                                       min           25%           50%  \
id                            3.490000e+02  7.520700e+05  1.497932e+06
parcelid                      1.071186e+07  1.153830e+07  1.253157e+07
airconditioningtypeid         1.000000e+00  1.000000e+00  1.000000e+00
architecturalstyletypeid      2.000000e+00  7.000000e+00  7.000000e+00
basementsqft                  3.800000e+01  2.730000e+02  5.150000e+02
bathroomcnt                   0.000000e+00  2.000000e+00  2.000000e+00
bedroomcnt                    0.000000e+00  2.000000e+00  3.000000e+00
buildingclasstypeid           3.000000e+00  4.000000e+00  4.000000e+00
buildingqualitytypeid         1.000000e+00  6.000000e+00  6.000000e+00
calculatedbathnbr             1.000000e+00  2.000000e+00  2.000000e+00
calculatedfinishedsquarefeet  1.280000e+02  1.182000e+03  1.543000e+03
decktypeid                    6.600000e+01  6.600000e+01  6.600000e+01
finishedfloor1squarefeet      4.400000e+01  9.550000e+02  1.257000e+03
finishedsquarefeet12          1.280000e+02  1.172000e+03  1.523000e+03
finishedsquarefeet13          1.056000e+03  1.344000e+03  1.440000e+03
finishedsquarefeet15          5.980000e+02  1.625000e+03  2.094000e+03
finishedsquarefeet50          4.400000e+01  9.560000e+02  1.259000e+03
finishedsquarefeet6           3.800000e+02  9.937500e+02  1.812500e+03
fips                          6.037000e+03  6.037000e+03  6.037000e+03
fireplacecnt                  1.000000e+00  1.000000e+00  1.000000e+00
fullbathcnt                   1.000000e+00  2.000000e+00  2.000000e+00
garagecarcnt                  0.000000e+00  2.000000e+00  2.000000e+00
garagetotalsqft               0.000000e+00  0.000000e+00  4.360000e+02
hashottuborspa                1.000000e+00  1.000000e+00  1.000000e+00
heatingorsystemtypeid         1.000000e+00  2.000000e+00  2.000000e+00
latitude                      3.333953e+07  3.381457e+07  3.402200e+07
longitude                    -1.194754e+08 -1.184153e+08 -1.181808e+08
lotsizesquarefeet             2.360000e+02  5.700000e+03  7.206000e+03
poolcnt                       1.000000e+00  1.000000e+00  1.000000e+00
poolsizesum                   2.400000e+01  4.240000e+02  5.000000e+02
pooltypeid10                  1.000000e+00  1.000000e+00  1.000000e+00
pooltypeid2                   1.000000e+00  1.000000e+00  1.000000e+00
pooltypeid7                   1.000000e+00  1.000000e+00  1.000000e+00
propertylandusetypeid         3.100000e+01  2.610000e+02  2.610000e+02
rawcensustractandblock        6.037101e+07  6.037311e+07  6.037603e+07
regionidcity                  3.491000e+03  1.244700e+04  2.521800e+04
regionidcounty                1.286000e+03  1.286000e+03  3.101000e+03
regionidneighborhood          6.952000e+03  4.673600e+04  1.188490e+05
regionidzip                   9.598200e+04  9.619300e+04  9.638900e+04
roomcnt                       0.000000e+00  0.000000e+00  0.000000e+00
storytypeid                   7.000000e+00  7.000000e+00  7.000000e+00
taxvaluedollarcnt             1.000000e+03  2.070000e+05  3.589755e+05
threequarterbathnbr           1.000000e+00  1.000000e+00  1.000000e+00
unitcnt                       1.000000e+00  1.000000e+00  1.000000e+00
yardbuildingsqft17            1.100000e+01  1.700000e+02  2.510000e+02
yardbuildingsqft26            1.200000e+01  6.150000e+01  1.645000e+02
yearbuilt                     1.824000e+03  1.953000e+03  1.970000e+03
numberofstories               1.000000e+00  1.000000e+00  1.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    4.400000e+01  8.426500e+04  1.364990e+05
assessmentyear                2.016000e+03  2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         1.610000e+02  8.550400e+04  2.033720e+05
taxamount                     1.992000e+01  2.715632e+03  4.450695e+03
taxdelinquencyyear            3.000000e+00  1.400000e+01  1.500000e+01
typeconstructiontypeid        4.000000e+00  6.000000e+00  6.000000e+00
censustractandblock           6.037101e+13  6.037311e+13  6.037603e+13
logerror                     -4.655420e+00 -2.437679e-02  6.626972e-03
transactions                  1.000000e+00  1.000000e+00  1.000000e+00
tax_rate                      9.372442e-05  1.165990e-02  1.228447e-02

                                       75%           max
id                            2.240535e+06  2.982274e+06
parcelid                      1.421183e+07  1.676893e+08
airconditioningtypeid         1.000000e+00  1.300000e+01
architecturalstyletypeid      7.000000e+00  2.100000e+01
basementsqft                  7.965000e+02  3.560000e+03
bathroomcnt                   3.000000e+00  1.800000e+01
bedroomcnt                    4.000000e+00  1.600000e+01
buildingclasstypeid           4.000000e+00  4.000000e+00
buildingqualitytypeid         8.000000e+00  1.200000e+01
calculatedbathnbr             3.000000e+00  1.800000e+01
calculatedfinishedsquarefeet  2.113000e+03  3.564000e+04
decktypeid                    6.600000e+01  6.600000e+01
finishedfloor1squarefeet      1.615000e+03  6.912000e+03
finishedsquarefeet12          2.076000e+03  2.192900e+04
finishedsquarefeet13          1.440000e+03  1.560000e+03
finishedsquarefeet15          2.838000e+03  3.564000e+04
finishedsquarefeet50          1.621500e+03  1.246700e+04
finishedsquarefeet6           3.053500e+03  5.598000e+03
fips                          6.059000e+03  6.111000e+03
fireplacecnt                  1.000000e+00  5.000000e+00
fullbathcnt                   3.000000e+00  1.800000e+01
garagecarcnt                  2.000000e+00  1.400000e+01
garagetotalsqft               4.930000e+02  4.251000e+03
hashottuborspa                1.000000e+00  1.000000e+00
heatingorsystemtypeid         7.000000e+00  2.400000e+01
latitude                      3.417439e+07  3.481877e+07
longitude                    -1.179284e+08 -1.175546e+08
lotsizesquarefeet             1.183100e+04  6.971010e+06
poolcnt                       1.000000e+00  1.000000e+00
poolsizesum                   6.000000e+02  1.500000e+03
pooltypeid10                  1.000000e+00  1.000000e+00
pooltypeid2                   1.000000e+00  1.000000e+00
pooltypeid7                   1.000000e+00  1.000000e+00
propertylandusetypeid         2.660000e+02  2.750000e+02
rawcensustractandblock        6.059042e+07  6.111009e+07
regionidcity                  4.545700e+04  3.965560e+05
regionidcounty                3.101000e+03  3.101000e+03
regionidneighborhood          2.747650e+05  7.641670e+05
regionidzip                   9.698700e+04  3.996750e+05
roomcnt                       0.000000e+00  1.500000e+01
storytypeid                   7.000000e+00  7.000000e+00
taxvaluedollarcnt             5.690015e+05  4.906124e+07
threequarterbathnbr           1.000000e+00  7.000000e+00
unitcnt                       1.000000e+00  2.370000e+02
yardbuildingsqft17            3.640000e+02  3.191000e+03
yardbuildingsqft26            3.105000e+02  8.680000e+02
yearbuilt                     1.987000e+03  2.016000e+03
numberofstories               2.000000e+00  6.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    2.187870e+05  1.142179e+07
assessmentyear                2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         3.667965e+05  4.895220e+07
taxamount                     6.927790e+03  5.866393e+05
taxdelinquencyyear            1.500000e+01  9.900000e+01
typeconstructiontypeid        6.000000e+00  1.300000e+01
censustractandblock           6.059042e+13  4.830301e+14
logerror                      3.920313e-02  5.262999e+00
transactions                  1.000000e+00  3.000000e+00
tax_rate                      1.345336e-02  8.164900e-01

ending frame_splain ; time: 0.4734361171722412

3: Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

||num_rows_missing|pct_rows_missing|
|:---|---:|---:|
|parcelid|0|0.000000|
|airconditioningtypeid|29041|0.535486|
|architecturalstyletypeid|54232|0.999982|

In [79]:
@timeifdebug
def get_row_values_stats(
        df, 
        get_cols=[], 
        max_uniques=10, 
        target_col='', 
        **kwargs
        ):
    '''
    get_row_values_stats(
        df, 
        get_cols=[], 
        max_uniques=10, 
        target_col='', 
        **kwargs
        )
    RETURNS summary dataframe

    Receives dataframe as input, examines all columns defined as objects, and
    returns a summary report with column name as its index.

    Report shows the following information about the columns of the dataframe:
        dtypes: data type
        row_values: number of rows with non-null values 
        nunuiques: number of unique values 
        uniques: unique values if the unique value count is less than or equal 
            to max_uniques.
        rows_missing: number of rows with missing values
        pctg_missing: percentage of rows with missing values
        
    If the input dataframe contains the target column, enter that name as the 
    target_col argument so it can be removed from the analysis.
    '''
    # get rowcount
    num_recs = len(df)
    
    # if no columns presented, get all columns from df
    use_cols = df.columns if len(get_cols) == 0 else get_cols
    # ensure use_cols are actually present in df
    cols = [col for col in use_cols if col in df.columns]
    
    # make df for all columns, exclude target column if passed
    df_cols = pd.DataFrame(cols, columns=['cols'])
    df_cols = df_cols[df_cols.cols != target_col]
    
    # get statistics on all columns
    df_cols['dtype'] = df_cols.cols.apply(lambda x: df[x].dtype)
    df_cols['row_values'] = df_cols.cols.apply(lambda x: df[x].count())
    df_cols['nuniques'] = df_cols.cols.apply(lambda x: df[x].nunique())
    df_cols['rows_missing'] = num_recs - df_cols.row_values
    df_cols['pctg_missing'] = df_cols.rows_missing / num_recs
    
    # get unique valeues for columns within unique value limits
    df_cats = df_cols[df_cols.nuniques <= max_uniques]
    df_cats['uniques'] = df_cats.cols.apply(lambda x: df[x].unique())
    
    # merge and set index
    df_cols = df_cols.join(df_cats.uniques, how='left')
    return df_cols.set_index('cols')

In [80]:
get_row_values_stats(df, get_cols=df.columns[df.dtypes!='category'])

starting get_row_values_stats
ending get_row_values_stats ; time: 0.46915507316589355

,dtype,row_values,nuniques,rows_missing,pctg_missing,uniques
cols,,,,,,
id,int64,77381,77381,0,0.000000,NaN
parcelid,int64,77381,77381,0,0.000000,NaN
airconditioningtypeid,float64,24953,5,52428,0.677531,"[nan, 1.0, 13.0, 5.0, 11.0, 9.0]"
airconditioningdesc,object,24953,5,52428,0.677531,"[nan, Central, Yes, None, Wall Unit, Refrigera..."
architecturalstyletypeid,float64,206,5,77175,0.997338,"[nan, 7.0, 8.0, 21.0, 3.0, 2.0]"
architecturalstyledesc,object,206,5,77175,0.997338,"[nan, Contemporary, Conventional, Ranch/Ramble..."
basementsqft,float64,50,43,77331,0.999354,NaN
bathroomcnt,float64,77381,22,0,0.000000,NaN
bedroomcnt,float64,77381,16,0,0.000000,NaN
buildingclasstypeid,float64,15,2,77366,0.999806,"[nan, 4.0, 3.0]"
buildingclassdesc,object,15,2,77366,0.999806,"[nan, Buildings having wood or wood and steel ..."
buildingqualitytypeid,float64,49672,12,27709,0.358085,NaN
calculatedbathnbr,float64,76772,21,609,0.007870,NaN
calculatedfinishedsquarefeet,float64,77185,4972,196,0.002533,NaN
decktypeid,float64,614,1,76767,0.992065,"[nan, 66.0]"
finishedfloor1squarefeet,float64,6023,1787,71358,0.922164,NaN
finishedsquarefeet12,float64,73749,4868,3632,0.046937,NaN
finishedsquarefeet13,float64,41,13,77340,0.999470,NaN
finishedsquarefeet15,float64,3009,1724,74372,0.961114,NaN
finishedsquarefeet50,float64,6023,1807,71358,0.922164,NaN
finishedsquarefeet6,float64,386,350,76995,0.995012,NaN
fips,float64,77381,3,0,0.000000,"[6111.0, 6037.0, 6059.0]"
county,object,77381,3,0,0.000000,"[Ventura, Los Angeles, Orange]"
state,object,77381,1,0,0.000000,[CA]
fireplacecnt,float64,8276,5,69105,0.893049,"[1.0, nan, 3.0, 2.0, 4.0, 5.0]"
fullbathcnt,float64,76772,13,609,0.007870,NaN
garagecarcnt,float64,25474,14,51907,0.670798,NaN
garagetotalsqft,float64,25474,839,51907,0.670798,NaN
hashottuborspa,float64,1538,1,75843,0.980124,"[nan, 1.0]"
heatingorsystemtypeid,float64,49440,10,27941,0.361083,"[nan, 2.0, 7.0, 6.0, 24.0, 13.0, 18.0, 20.0, 1..."
...,...,...,...,...,...,...
propertyzoningdesc,object,50331,1907,27050,0.349569,NaN
rawcensustractandblock,float64,77381,39194,0,0.000000,NaN
regionidcity,float64,75910,175,1471,0.019010,NaN
regionidcounty,float64,77381,3,0,0.000000,"[2061.0, 3101.0, 1286.0]"
regionidneighborhood,float64,30890,480,46491,0.600806,NaN
regionidzip,float64,77331,389,50,0.000646,NaN
roomcnt,float64,77381,16,0,0.000000,NaN
storytypeid,float64,50,1,77331,0.999354,"[nan, 7.0]"
storydesc,object,50,1,77331,0.999354,"[nan, Basement]"
taxvaluedollarcnt,float64,77380,50949,1,0.000013,NaN
threequarterbathnbr,float64,10096,4,67285,0.869529,"[nan, 1.0, 2.0, 7.0, 3.0]"
unitcnt,float64,50563,8,26818,0.346571,"[nan, 3.0, 1.0, 2.0, 4.0, 45.0, 42.0, 6.0, 237.0]"
yardbuildingsqft17,float64,2388,540,74993,0.969140,NaN
yardbuildingsqft26,float64,70,59,77311,0.999095,NaN
yearbuilt,float64,77118,136,263,0.003399,NaN
numberofstories,float64,17560,4,59821,0.773071,"[1.0, 2.0, nan, 3.0, 6.0]"
fireplaceflag,float64,172,1,77209,0.997777,"[nan, 1.0]"
structuretaxvaluedollarcnt,float64,77269,50430,112,0.001447,NaN
assessmentyear,float64,77381,1,0,0.000000,[2016.0]
landtaxvaluedollarcnt,float64,77379,51600,2,0.000026,NaN
taxamount,float64,77376,73825,5,0.000065,NaN
taxdelinquencyflag,object,2886,1,74495,0.962704,"[nan, Y]"
taxdelinquencyyear,float64,2886,13,74495,0.962704,NaN
typeconstructiontypeid,float64,222,4,77159,0.997131,"[nan, 6.0, 13.0, 10.0, 4.0]"
typeconstructiondesc,object,222,4,77159,0.997131,"[nan, Frame, Masonry, Metal, Concrete]"
censustractandblock,float64,77137,39006,244,0.003153,NaN
transactiondate,object,77381,264,0,0.000000,NaN
logerror,float64,77381,76837,0,0.000000,NaN
transactions,int64,77381,3,0,0.000000,"[1, 2, 3]"
tax_rate,float64,77375,76975,6,0.000078,NaN

4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

num_cols_missing|pct_cols_missing|num_rows
:---|---:|---:
23|38.333|108
24|40.000|123
25|41.667|5280

#### Prepare

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

   - The input:
       - A dataframe
       - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
       - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
   - The output:
       - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
   - hint:
       - Look up the dropna documentation.
       - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
       - Make use of inplace, i.e. inplace=True/False.

In [35]:
pd.DataFrame(df.info())#.loc(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 72 columns):
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
county                          77381 non-null object
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
tax_rate                        77375 non-null float64
dtypes: float64(56), int64(3), object(13)
memory usage: 42.5+ MB

Empty DataFrame
Columns: []
Index: []

3. Decide how to handle the remaining missing values:
   - Fill with constant value.
   - Impute with mean, median, mode.
   - Drop row/column

#### `wrangle_zillow.py`

Functions of the work above needed to acquire and prepare a new sample of data.