# Exercises

## Acquire (`acquire.py`)

### Zillow
**For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.**

**You will have a** 
`zillow.ipynb` 
**file and a helper file for each section in the pipeline.**

In [1]:
###############################################################################
### python imports                                                          ###
###############################################################################

import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.linear_model import LassoCV

import warnings
warnings.filterwarnings("ignore")

# from math import sqrt
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
###############################################################################
### local imports                                                           ###
###############################################################################

import acquire as acq
import prepare as prep

from debug import local_settings, timeifdebug, timeargsifdebug, frame_splain
from dfo import DFO, set_dfo

In [3]:
local_settings.splain=True
local_settings.debug=True
splain = local_settings.splain
debug = local_settings.debug

In [4]:
from wrangle_zillow import get_zillow_data, prep_zillow_data, sql

#### Acquire & Summarize

1. **Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.**

   - *Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for* 
`airconditioningtypeid`
*.*
   - Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
   - Only include properties that include a latitude and longitude value.

In [5]:
dfo = set_dfo(get_zillow_data(), splain=True)

starting get_zillow_data
starting sql_df
starting get_db_url
ending get_db_url ; time: 4.76837158203125e-06
starting check_df
starting frame_splain
DATAFRAME SHAPE:
(77381, 68)

DATAFRAME INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
county                          77381 non-null object
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
tax_rate                        77375 non-null float64
dtypes: float64(52), int64(3), object(13)
memory usage: 40.1+ MB
None

DATAFRAME DESCRIPTION:
                                count          mean           std  \
id                            77381.0  1.495139e+06  8.609071e+05
parcelid                      77381.0  1.300715e+07  3.481346e+06
airconditioningtypeid         24953.0  1.813289e+00  2.967894e+00
architecturalstyletypeid        206.0  7.388350e+00  2.734542e+00
basementsqft                     50.0  6.797200e+02  6.897035e+02
bathroomcnt                   77381.0  2.299130e+00  9.966507e-01
bedroomcnt                    77381.0  3.053489e+00  1.139096e+00
buildingclasstypeid              15.0  3.933333e+00  2.581989e-01
buildingqualitytypeid         49672.0  6.534587e+00  1.721953e+00
calculatedbathnbr             76772.0  2.316867e+00  9.797549e-01
calculatedfinishedsquarefeet  77185.0  1.785220e+03  9.540493e+02
decktypeid                      614.0  6.600000e+01  0.000000e+00
finishedfloor1squarefeet       6023.0  1.366513e+03  6.713081e+02
finishedsquarefeet12          73749.0  1.760523e+03  9.340243e+02
finishedsquarefeet13             41.0  1.389854e+03  1.235317e+02
finishedsquarefeet15           3009.0  2.357792e+03  1.188775e+03
finishedsquarefeet50           6023.0  1.381772e+03  7.264689e+02
finishedsquarefeet6             386.0  2.082500e+03  1.240383e+03
fips                          77381.0  6.048819e+03  2.074820e+01
fireplacecnt                   8276.0  1.191155e+00  4.910796e-01
fullbathcnt                   76772.0  2.250482e+00  9.665521e-01
garagecarcnt                  25474.0  1.815459e+00  5.883449e-01
garagetotalsqft               25474.0  3.501120e+02  2.616816e+02
hashottuborspa                 1538.0  1.000000e+00  0.000000e+00
heatingorsystemtypeid         49440.0  3.920510e+00  3.592779e+00
latitude                      77381.0  3.400837e+07  2.653888e+05
longitude                     77381.0 -1.182036e+08  3.594826e+05
lotsizesquarefeet             69142.0  2.996928e+04  1.233711e+05
poolcnt                       16137.0  1.000000e+00  0.000000e+00
propertylandusetypeid         77381.0  2.618263e+02  5.141199e+00
rawcensustractandblock        77381.0  6.049129e+07  2.059052e+05
regionidcity                  75910.0  3.367124e+04  4.716982e+04
regionidcounty                77381.0  2.534158e+03  8.015934e+02
regionidneighborhood          30890.0  1.877349e+05  1.651188e+05
regionidzip                   77331.0  9.658709e+04  3.798347e+03
roomcnt                       77381.0  1.476952e+00  2.824386e+00
storytypeid                      50.0  7.000000e+00  0.000000e+00
taxvaluedollarcnt             77380.0  4.901345e+05  6.534440e+05
threequarterbathnbr           10096.0  1.009608e+00  1.186301e-01
unitcnt                       50563.0  1.110021e+00  1.171154e+00
yardbuildingsqft17             2388.0  3.054112e+02  2.383928e+02
yardbuildingsqft26               70.0  2.163857e+02  1.901775e+02
yearbuilt                     77118.0  1.968636e+03  2.378603e+01
numberofstories               17560.0  1.434738e+00  5.445687e-01
fireplaceflag                   172.0  1.000000e+00  0.000000e+00
structuretaxvaluedollarcnt    77269.0  1.893145e+05  2.300874e+05
assessmentyear                77381.0  2.016000e+03  0.000000e+00
landtaxvaluedollarcnt         77379.0  3.010954e+05  4.925960e+05
taxamount                     77376.0  5.995532e+03  7.622844e+03
taxdelinquencyyear             2886.0  1.408732e+01  2.185663e+00
typeconstructiontypeid          222.0  6.040541e+00  5.572847e-01
censustractandblock           77137.0  6.049673e+13  1.535242e+12
logerror                      77381.0  1.662499e-02  1.701908e-01
transactions                  77381.0  1.002559e+00  5.128151e-02
tax_rate                      77375.0  1.316904e-02  5.828083e-03

                                       min           25%           50%  \
id                            3.490000e+02  7.520700e+05  1.497932e+06
parcelid                      1.071186e+07  1.153830e+07  1.253157e+07
airconditioningtypeid         1.000000e+00  1.000000e+00  1.000000e+00
architecturalstyletypeid      2.000000e+00  7.000000e+00  7.000000e+00
basementsqft                  3.800000e+01  2.730000e+02  5.150000e+02
bathroomcnt                   0.000000e+00  2.000000e+00  2.000000e+00
bedroomcnt                    0.000000e+00  2.000000e+00  3.000000e+00
buildingclasstypeid           3.000000e+00  4.000000e+00  4.000000e+00
buildingqualitytypeid         1.000000e+00  6.000000e+00  6.000000e+00
calculatedbathnbr             1.000000e+00  2.000000e+00  2.000000e+00
calculatedfinishedsquarefeet  1.280000e+02  1.182000e+03  1.543000e+03
decktypeid                    6.600000e+01  6.600000e+01  6.600000e+01
finishedfloor1squarefeet      4.400000e+01  9.550000e+02  1.257000e+03
finishedsquarefeet12          1.280000e+02  1.172000e+03  1.523000e+03
finishedsquarefeet13          1.056000e+03  1.344000e+03  1.440000e+03
finishedsquarefeet15          5.980000e+02  1.625000e+03  2.094000e+03
finishedsquarefeet50          4.400000e+01  9.560000e+02  1.259000e+03
finishedsquarefeet6           3.800000e+02  9.937500e+02  1.812500e+03
fips                          6.037000e+03  6.037000e+03  6.037000e+03
fireplacecnt                  1.000000e+00  1.000000e+00  1.000000e+00
fullbathcnt                   1.000000e+00  2.000000e+00  2.000000e+00
garagecarcnt                  0.000000e+00  2.000000e+00  2.000000e+00
garagetotalsqft               0.000000e+00  0.000000e+00  4.360000e+02
hashottuborspa                1.000000e+00  1.000000e+00  1.000000e+00
heatingorsystemtypeid         1.000000e+00  2.000000e+00  2.000000e+00
latitude                      3.333953e+07  3.381457e+07  3.402200e+07
longitude                    -1.194754e+08 -1.184153e+08 -1.181808e+08
lotsizesquarefeet             2.360000e+02  5.700000e+03  7.206000e+03
poolcnt                       1.000000e+00  1.000000e+00  1.000000e+00
propertylandusetypeid         3.100000e+01  2.610000e+02  2.610000e+02
rawcensustractandblock        6.037101e+07  6.037311e+07  6.037603e+07
regionidcity                  3.491000e+03  1.244700e+04  2.521800e+04
regionidcounty                1.286000e+03  1.286000e+03  3.101000e+03
regionidneighborhood          6.952000e+03  4.673600e+04  1.188490e+05
regionidzip                   9.598200e+04  9.619300e+04  9.638900e+04
roomcnt                       0.000000e+00  0.000000e+00  0.000000e+00
storytypeid                   7.000000e+00  7.000000e+00  7.000000e+00
taxvaluedollarcnt             1.000000e+03  2.070000e+05  3.589755e+05
threequarterbathnbr           1.000000e+00  1.000000e+00  1.000000e+00
unitcnt                       1.000000e+00  1.000000e+00  1.000000e+00
yardbuildingsqft17            1.100000e+01  1.700000e+02  2.510000e+02
yardbuildingsqft26            1.200000e+01  6.150000e+01  1.645000e+02
yearbuilt                     1.824000e+03  1.953000e+03  1.970000e+03
numberofstories               1.000000e+00  1.000000e+00  1.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    4.400000e+01  8.426500e+04  1.364990e+05
assessmentyear                2.016000e+03  2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         1.610000e+02  8.550400e+04  2.033720e+05
taxamount                     1.992000e+01  2.715632e+03  4.450695e+03
taxdelinquencyyear            3.000000e+00  1.400000e+01  1.500000e+01
typeconstructiontypeid        4.000000e+00  6.000000e+00  6.000000e+00
censustractandblock           6.037101e+13  6.037311e+13  6.037603e+13
logerror                     -4.655420e+00 -2.437679e-02  6.626972e-03
transactions                  1.000000e+00  1.000000e+00  1.000000e+00
tax_rate                      9.372442e-05  1.165990e-02  1.228447e-02

                                       75%           max
id                            2.240535e+06  2.982274e+06
parcelid                      1.421183e+07  1.676893e+08
airconditioningtypeid         1.000000e+00  1.300000e+01
architecturalstyletypeid      7.000000e+00  2.100000e+01
basementsqft                  7.965000e+02  3.560000e+03
bathroomcnt                   3.000000e+00  1.800000e+01
bedroomcnt                    4.000000e+00  1.600000e+01
buildingclasstypeid           4.000000e+00  4.000000e+00
buildingqualitytypeid         8.000000e+00  1.200000e+01
calculatedbathnbr             3.000000e+00  1.800000e+01
calculatedfinishedsquarefeet  2.113000e+03  3.564000e+04
decktypeid                    6.600000e+01  6.600000e+01
finishedfloor1squarefeet      1.615000e+03  6.912000e+03
finishedsquarefeet12          2.076000e+03  2.192900e+04
finishedsquarefeet13          1.440000e+03  1.560000e+03
finishedsquarefeet15          2.838000e+03  3.564000e+04
finishedsquarefeet50          1.621500e+03  1.246700e+04
finishedsquarefeet6           3.053500e+03  5.598000e+03
fips                          6.059000e+03  6.111000e+03
fireplacecnt                  1.000000e+00  5.000000e+00
fullbathcnt                   3.000000e+00  1.800000e+01
garagecarcnt                  2.000000e+00  1.400000e+01
garagetotalsqft               4.930000e+02  4.251000e+03
hashottuborspa                1.000000e+00  1.000000e+00
heatingorsystemtypeid         7.000000e+00  2.400000e+01
latitude                      3.417439e+07  3.481877e+07
longitude                    -1.179284e+08 -1.175546e+08
lotsizesquarefeet             1.183100e+04  6.971010e+06
poolcnt                       1.000000e+00  1.000000e+00
propertylandusetypeid         2.660000e+02  2.750000e+02
rawcensustractandblock        6.059042e+07  6.111009e+07
regionidcity                  4.545700e+04  3.965560e+05
regionidcounty                3.101000e+03  3.101000e+03
regionidneighborhood          2.747650e+05  7.641670e+05
regionidzip                   9.698700e+04  3.996750e+05
roomcnt                       0.000000e+00  1.500000e+01
storytypeid                   7.000000e+00  7.000000e+00
taxvaluedollarcnt             5.690015e+05  4.906124e+07
threequarterbathnbr           1.000000e+00  7.000000e+00
unitcnt                       1.000000e+00  2.370000e+02
yardbuildingsqft17            3.640000e+02  3.191000e+03
yardbuildingsqft26            3.105000e+02  8.680000e+02
yearbuilt                     1.987000e+03  2.016000e+03
numberofstories               2.000000e+00  6.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    2.187870e+05  1.142179e+07
assessmentyear                2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         3.667965e+05  4.895220e+07
taxamount                     6.927790e+03  5.866393e+05
taxdelinquencyyear            1.500000e+01  9.900000e+01
typeconstructiontypeid        6.000000e+00  1.300000e+01
censustractandblock           6.059042e+13  4.830301e+14
logerror                      3.920313e-02  5.262999e+00
transactions                  1.000000e+00  3.000000e+00
tax_rate                      1.345336e-02  8.164900e-01

ending frame_splain ; time: 0.5800020694732666
ending check_df ; time: 0.7292990684509277
ending sql_df ; time: 202.7736132144928
ending get_zillow_data ; time: 202.77499222755432
starting set_dfo
ending set_dfo ; time: 1.71661376953125e-05

2. **Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.).**

In [6]:
df = dfo.df

In [7]:
frame_splain(dfo.df, title='Zillow Data', splain=True)

starting frame_splain
ZILLOW DATA SHAPE:
(77381, 68)

ZILLOW DATA INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
county                          77381 non-null object
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
tax_rate                        77375 non-null float64
dtypes: float64(52), int64(3), object(13)
memory usage: 40.1+ MB
None

ZILLOW DATA DESCRIPTION:
                                count          mean           std  \
id                            77381.0  1.495139e+06  8.609071e+05
parcelid                      77381.0  1.300715e+07  3.481346e+06
airconditioningtypeid         24953.0  1.813289e+00  2.967894e+00
architecturalstyletypeid        206.0  7.388350e+00  2.734542e+00
basementsqft                     50.0  6.797200e+02  6.897035e+02
bathroomcnt                   77381.0  2.299130e+00  9.966507e-01
bedroomcnt                    77381.0  3.053489e+00  1.139096e+00
buildingclasstypeid              15.0  3.933333e+00  2.581989e-01
buildingqualitytypeid         49672.0  6.534587e+00  1.721953e+00
calculatedbathnbr             76772.0  2.316867e+00  9.797549e-01
calculatedfinishedsquarefeet  77185.0  1.785220e+03  9.540493e+02
decktypeid                      614.0  6.600000e+01  0.000000e+00
finishedfloor1squarefeet       6023.0  1.366513e+03  6.713081e+02
finishedsquarefeet12          73749.0  1.760523e+03  9.340243e+02
finishedsquarefeet13             41.0  1.389854e+03  1.235317e+02
finishedsquarefeet15           3009.0  2.357792e+03  1.188775e+03
finishedsquarefeet50           6023.0  1.381772e+03  7.264689e+02
finishedsquarefeet6             386.0  2.082500e+03  1.240383e+03
fips                          77381.0  6.048819e+03  2.074820e+01
fireplacecnt                   8276.0  1.191155e+00  4.910796e-01
fullbathcnt                   76772.0  2.250482e+00  9.665521e-01
garagecarcnt                  25474.0  1.815459e+00  5.883449e-01
garagetotalsqft               25474.0  3.501120e+02  2.616816e+02
hashottuborspa                 1538.0  1.000000e+00  0.000000e+00
heatingorsystemtypeid         49440.0  3.920510e+00  3.592779e+00
latitude                      77381.0  3.400837e+07  2.653888e+05
longitude                     77381.0 -1.182036e+08  3.594826e+05
lotsizesquarefeet             69142.0  2.996928e+04  1.233711e+05
poolcnt                       16137.0  1.000000e+00  0.000000e+00
propertylandusetypeid         77381.0  2.618263e+02  5.141199e+00
rawcensustractandblock        77381.0  6.049129e+07  2.059052e+05
regionidcity                  75910.0  3.367124e+04  4.716982e+04
regionidcounty                77381.0  2.534158e+03  8.015934e+02
regionidneighborhood          30890.0  1.877349e+05  1.651188e+05
regionidzip                   77331.0  9.658709e+04  3.798347e+03
roomcnt                       77381.0  1.476952e+00  2.824386e+00
storytypeid                      50.0  7.000000e+00  0.000000e+00
taxvaluedollarcnt             77380.0  4.901345e+05  6.534440e+05
threequarterbathnbr           10096.0  1.009608e+00  1.186301e-01
unitcnt                       50563.0  1.110021e+00  1.171154e+00
yardbuildingsqft17             2388.0  3.054112e+02  2.383928e+02
yardbuildingsqft26               70.0  2.163857e+02  1.901775e+02
yearbuilt                     77118.0  1.968636e+03  2.378603e+01
numberofstories               17560.0  1.434738e+00  5.445687e-01
fireplaceflag                   172.0  1.000000e+00  0.000000e+00
structuretaxvaluedollarcnt    77269.0  1.893145e+05  2.300874e+05
assessmentyear                77381.0  2.016000e+03  0.000000e+00
landtaxvaluedollarcnt         77379.0  3.010954e+05  4.925960e+05
taxamount                     77376.0  5.995532e+03  7.622844e+03
taxdelinquencyyear             2886.0  1.408732e+01  2.185663e+00
typeconstructiontypeid          222.0  6.040541e+00  5.572847e-01
censustractandblock           77137.0  6.049673e+13  1.535242e+12
logerror                      77381.0  1.662499e-02  1.701908e-01
transactions                  77381.0  1.002559e+00  5.128151e-02
tax_rate                      77375.0  1.316904e-02  5.828083e-03

                                       min           25%           50%  \
id                            3.490000e+02  7.520700e+05  1.497932e+06
parcelid                      1.071186e+07  1.153830e+07  1.253157e+07
airconditioningtypeid         1.000000e+00  1.000000e+00  1.000000e+00
architecturalstyletypeid      2.000000e+00  7.000000e+00  7.000000e+00
basementsqft                  3.800000e+01  2.730000e+02  5.150000e+02
bathroomcnt                   0.000000e+00  2.000000e+00  2.000000e+00
bedroomcnt                    0.000000e+00  2.000000e+00  3.000000e+00
buildingclasstypeid           3.000000e+00  4.000000e+00  4.000000e+00
buildingqualitytypeid         1.000000e+00  6.000000e+00  6.000000e+00
calculatedbathnbr             1.000000e+00  2.000000e+00  2.000000e+00
calculatedfinishedsquarefeet  1.280000e+02  1.182000e+03  1.543000e+03
decktypeid                    6.600000e+01  6.600000e+01  6.600000e+01
finishedfloor1squarefeet      4.400000e+01  9.550000e+02  1.257000e+03
finishedsquarefeet12          1.280000e+02  1.172000e+03  1.523000e+03
finishedsquarefeet13          1.056000e+03  1.344000e+03  1.440000e+03
finishedsquarefeet15          5.980000e+02  1.625000e+03  2.094000e+03
finishedsquarefeet50          4.400000e+01  9.560000e+02  1.259000e+03
finishedsquarefeet6           3.800000e+02  9.937500e+02  1.812500e+03
fips                          6.037000e+03  6.037000e+03  6.037000e+03
fireplacecnt                  1.000000e+00  1.000000e+00  1.000000e+00
fullbathcnt                   1.000000e+00  2.000000e+00  2.000000e+00
garagecarcnt                  0.000000e+00  2.000000e+00  2.000000e+00
garagetotalsqft               0.000000e+00  0.000000e+00  4.360000e+02
hashottuborspa                1.000000e+00  1.000000e+00  1.000000e+00
heatingorsystemtypeid         1.000000e+00  2.000000e+00  2.000000e+00
latitude                      3.333953e+07  3.381457e+07  3.402200e+07
longitude                    -1.194754e+08 -1.184153e+08 -1.181808e+08
lotsizesquarefeet             2.360000e+02  5.700000e+03  7.206000e+03
poolcnt                       1.000000e+00  1.000000e+00  1.000000e+00
propertylandusetypeid         3.100000e+01  2.610000e+02  2.610000e+02
rawcensustractandblock        6.037101e+07  6.037311e+07  6.037603e+07
regionidcity                  3.491000e+03  1.244700e+04  2.521800e+04
regionidcounty                1.286000e+03  1.286000e+03  3.101000e+03
regionidneighborhood          6.952000e+03  4.673600e+04  1.188490e+05
regionidzip                   9.598200e+04  9.619300e+04  9.638900e+04
roomcnt                       0.000000e+00  0.000000e+00  0.000000e+00
storytypeid                   7.000000e+00  7.000000e+00  7.000000e+00
taxvaluedollarcnt             1.000000e+03  2.070000e+05  3.589755e+05
threequarterbathnbr           1.000000e+00  1.000000e+00  1.000000e+00
unitcnt                       1.000000e+00  1.000000e+00  1.000000e+00
yardbuildingsqft17            1.100000e+01  1.700000e+02  2.510000e+02
yardbuildingsqft26            1.200000e+01  6.150000e+01  1.645000e+02
yearbuilt                     1.824000e+03  1.953000e+03  1.970000e+03
numberofstories               1.000000e+00  1.000000e+00  1.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    4.400000e+01  8.426500e+04  1.364990e+05
assessmentyear                2.016000e+03  2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         1.610000e+02  8.550400e+04  2.033720e+05
taxamount                     1.992000e+01  2.715632e+03  4.450695e+03
taxdelinquencyyear            3.000000e+00  1.400000e+01  1.500000e+01
typeconstructiontypeid        4.000000e+00  6.000000e+00  6.000000e+00
censustractandblock           6.037101e+13  6.037311e+13  6.037603e+13
logerror                     -4.655420e+00 -2.437679e-02  6.626972e-03
transactions                  1.000000e+00  1.000000e+00  1.000000e+00
tax_rate                      9.372442e-05  1.165990e-02  1.228447e-02

                                       75%           max
id                            2.240535e+06  2.982274e+06
parcelid                      1.421183e+07  1.676893e+08
airconditioningtypeid         1.000000e+00  1.300000e+01
architecturalstyletypeid      7.000000e+00  2.100000e+01
basementsqft                  7.965000e+02  3.560000e+03
bathroomcnt                   3.000000e+00  1.800000e+01
bedroomcnt                    4.000000e+00  1.600000e+01
buildingclasstypeid           4.000000e+00  4.000000e+00
buildingqualitytypeid         8.000000e+00  1.200000e+01
calculatedbathnbr             3.000000e+00  1.800000e+01
calculatedfinishedsquarefeet  2.113000e+03  3.564000e+04
decktypeid                    6.600000e+01  6.600000e+01
finishedfloor1squarefeet      1.615000e+03  6.912000e+03
finishedsquarefeet12          2.076000e+03  2.192900e+04
finishedsquarefeet13          1.440000e+03  1.560000e+03
finishedsquarefeet15          2.838000e+03  3.564000e+04
finishedsquarefeet50          1.621500e+03  1.246700e+04
finishedsquarefeet6           3.053500e+03  5.598000e+03
fips                          6.059000e+03  6.111000e+03
fireplacecnt                  1.000000e+00  5.000000e+00
fullbathcnt                   3.000000e+00  1.800000e+01
garagecarcnt                  2.000000e+00  1.400000e+01
garagetotalsqft               4.930000e+02  4.251000e+03
hashottuborspa                1.000000e+00  1.000000e+00
heatingorsystemtypeid         7.000000e+00  2.400000e+01
latitude                      3.417439e+07  3.481877e+07
longitude                    -1.179284e+08 -1.175546e+08
lotsizesquarefeet             1.183100e+04  6.971010e+06
poolcnt                       1.000000e+00  1.000000e+00
propertylandusetypeid         2.660000e+02  2.750000e+02
rawcensustractandblock        6.059042e+07  6.111009e+07
regionidcity                  4.545700e+04  3.965560e+05
regionidcounty                3.101000e+03  3.101000e+03
regionidneighborhood          2.747650e+05  7.641670e+05
regionidzip                   9.698700e+04  3.996750e+05
roomcnt                       0.000000e+00  1.500000e+01
storytypeid                   7.000000e+00  7.000000e+00
taxvaluedollarcnt             5.690015e+05  4.906124e+07
threequarterbathnbr           1.000000e+00  7.000000e+00
unitcnt                       1.000000e+00  2.370000e+02
yardbuildingsqft17            3.640000e+02  3.191000e+03
yardbuildingsqft26            3.105000e+02  8.680000e+02
yearbuilt                     1.987000e+03  2.016000e+03
numberofstories               2.000000e+00  6.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    2.187870e+05  1.142179e+07
assessmentyear                2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         3.667965e+05  4.895220e+07
taxamount                     6.927790e+03  5.866393e+05
taxdelinquencyyear            1.500000e+01  9.900000e+01
typeconstructiontypeid        6.000000e+00  1.300000e+01
censustractandblock           6.059042e+13  4.830301e+14
logerror                      3.920313e-02  5.262999e+00
transactions                  1.000000e+00  3.000000e+00
tax_rate                      1.345336e-02  8.164900e-01

ending frame_splain ; time: 0.5488429069519043

In [8]:
@timeifdebug
def convert_to_dates(df, cols=[], format='%Y-%m-%d', errors='coerce', **kwargs):
    '''
    convert_to_dates(
        df, 
        cols, 
        format='%y-%m-%d', 
        errors='coerce', 
        **kwargs
    )
    RETURNS df with columns updated to dates
    '''
    convertcols = [col for col in cols if col in df.columns]
    for col in convertcols:
        df[col] = pd.to_datetime(df[col], errors=errors, format=format)
    return df

In [9]:
df = convert_to_dates(df, cols=['transactiondate'])

starting convert_to_dates
ending convert_to_dates ; time: 0.10535502433776855

In [10]:
dfo.df.head(15)

,id,parcelid,airconditioningtypeid,airconditioningdesc,architecturalstyletypeid,architecturalstyledesc,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,...,taxamount,taxdelinquencyflag,taxdelinquencyyear,typeconstructiontypeid,typeconstructiondesc,censustractandblock,transactiondate,logerror,transactions,tax_rate
0,1387261,17052889,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,5672.48,NaN,NaN,NaN,NaN,6.111001e+13,2017-01-01,0.055619,1,0.012225
1,1447245,17143294,NaN,NaN,NaN,NaN,NaN,2.0,3.0,NaN,...,3508.10,NaN,NaN,NaN,NaN,6.111005e+13,2017-01-01,-0.020526,1,0.010596
2,43675,17110996,NaN,NaN,NaN,NaN,NaN,2.5,3.0,NaN,...,2204.84,NaN,NaN,NaN,NaN,6.111005e+13,2017-01-02,0.008669,1,0.011133
3,1327940,17153340,NaN,NaN,NaN,NaN,NaN,3.5,2.0,NaN,...,12738.54,NaN,NaN,NaN,NaN,6.111004e+13,2017-01-02,-0.095340,1,0.012201
4,1431120,17153706,NaN,NaN,NaN,NaN,NaN,2.5,2.0,NaN,...,8442.56,NaN,NaN,NaN,NaN,6.111004e+13,2017-01-02,0.027817,1,0.014142
5,1969702,17229300,NaN,NaN,NaN,NaN,NaN,2.5,2.0,NaN,...,2639.36,NaN,NaN,NaN,NaN,6.111008e+13,2017-01-02,-0.017684,1,0.010968
6,2490820,17134185,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,...,4557.52,NaN,NaN,NaN,NaN,6.111006e+13,2017-01-03,0.057690,1,0.010838
7,269618,17292247,NaN,NaN,NaN,NaN,NaN,2.0,3.0,NaN,...,1450.06,NaN,NaN,NaN,NaN,6.111006e+13,2017-01-03,-0.421908,1,0.018693
8,74982,17141654,NaN,NaN,NaN,NaN,NaN,3.0,4.0,NaN,...,4139.18,NaN,NaN,NaN,NaN,6.111005e+13,2017-01-03,-0.021898,1,0.010678
9,1894799,17148798,NaN,NaN,NaN,NaN,NaN,2.0,3.0,NaN,...,2409.36,NaN,NaN,NaN,NaN,6.111009e+13,2017-01-03,-0.046017,1,0.011645
10,2237758,17152676,NaN,NaN,NaN,NaN,NaN,3.0,3.0,NaN,...,10035.88,NaN,NaN,NaN,NaN,6.111004e+13,2017-01-03,-0.033646,1,0.012717
11,716645,17153382,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,6711.24,NaN,NaN,NaN,NaN,6.111004e+13,2017-01-03,0.010283,1,0.012416
12,2744244,17145540,NaN,NaN,NaN,NaN,NaN,3.0,4.0,NaN,...,6315.22,NaN,NaN,NaN,NaN,6.111003e+13,2017-01-03,0.001471,1,0.012034
13,2803795,17079456,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,3153.44,NaN,NaN,NaN,NaN,6.111003e+13,2017-01-03,0.017823,1,0.011295
14,2177706,17091159,NaN,NaN,NaN,NaN,NaN,2.5,4.0,NaN,...,3635.06,NaN,NaN,NaN,NaN,6.111001e+13,2017-01-03,0.020088,1,0.010554

In [11]:
frame_splain(dfo.df, splain=True)

starting frame_splain
DATAFRAME SHAPE:
(77381, 68)

DATAFRAME INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
county                          77381 non-null object
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null datetime64[ns]
logerror                        77381 non-null float64
transactions                    77381 non-null int64
tax_rate                        77375 non-null float64
dtypes: datetime64[ns](1), float64(52), int64(3), object(12)
memory usage: 40.1+ MB
None

DATAFRAME DESCRIPTION:
                                count          mean           std  \
id                            77381.0  1.495139e+06  8.609071e+05
parcelid                      77381.0  1.300715e+07  3.481346e+06
airconditioningtypeid         24953.0  1.813289e+00  2.967894e+00
architecturalstyletypeid        206.0  7.388350e+00  2.734542e+00
basementsqft                     50.0  6.797200e+02  6.897035e+02
bathroomcnt                   77381.0  2.299130e+00  9.966507e-01
bedroomcnt                    77381.0  3.053489e+00  1.139096e+00
buildingclasstypeid              15.0  3.933333e+00  2.581989e-01
buildingqualitytypeid         49672.0  6.534587e+00  1.721953e+00
calculatedbathnbr             76772.0  2.316867e+00  9.797549e-01
calculatedfinishedsquarefeet  77185.0  1.785220e+03  9.540493e+02
decktypeid                      614.0  6.600000e+01  0.000000e+00
finishedfloor1squarefeet       6023.0  1.366513e+03  6.713081e+02
finishedsquarefeet12          73749.0  1.760523e+03  9.340243e+02
finishedsquarefeet13             41.0  1.389854e+03  1.235317e+02
finishedsquarefeet15           3009.0  2.357792e+03  1.188775e+03
finishedsquarefeet50           6023.0  1.381772e+03  7.264689e+02
finishedsquarefeet6             386.0  2.082500e+03  1.240383e+03
fips                          77381.0  6.048819e+03  2.074820e+01
fireplacecnt                   8276.0  1.191155e+00  4.910796e-01
fullbathcnt                   76772.0  2.250482e+00  9.665521e-01
garagecarcnt                  25474.0  1.815459e+00  5.883449e-01
garagetotalsqft               25474.0  3.501120e+02  2.616816e+02
hashottuborspa                 1538.0  1.000000e+00  0.000000e+00
heatingorsystemtypeid         49440.0  3.920510e+00  3.592779e+00
latitude                      77381.0  3.400837e+07  2.653888e+05
longitude                     77381.0 -1.182036e+08  3.594826e+05
lotsizesquarefeet             69142.0  2.996928e+04  1.233711e+05
poolcnt                       16137.0  1.000000e+00  0.000000e+00
propertylandusetypeid         77381.0  2.618263e+02  5.141199e+00
rawcensustractandblock        77381.0  6.049129e+07  2.059052e+05
regionidcity                  75910.0  3.367124e+04  4.716982e+04
regionidcounty                77381.0  2.534158e+03  8.015934e+02
regionidneighborhood          30890.0  1.877349e+05  1.651188e+05
regionidzip                   77331.0  9.658709e+04  3.798347e+03
roomcnt                       77381.0  1.476952e+00  2.824386e+00
storytypeid                      50.0  7.000000e+00  0.000000e+00
taxvaluedollarcnt             77380.0  4.901345e+05  6.534440e+05
threequarterbathnbr           10096.0  1.009608e+00  1.186301e-01
unitcnt                       50563.0  1.110021e+00  1.171154e+00
yardbuildingsqft17             2388.0  3.054112e+02  2.383928e+02
yardbuildingsqft26               70.0  2.163857e+02  1.901775e+02
yearbuilt                     77118.0  1.968636e+03  2.378603e+01
numberofstories               17560.0  1.434738e+00  5.445687e-01
fireplaceflag                   172.0  1.000000e+00  0.000000e+00
structuretaxvaluedollarcnt    77269.0  1.893145e+05  2.300874e+05
assessmentyear                77381.0  2.016000e+03  0.000000e+00
landtaxvaluedollarcnt         77379.0  3.010954e+05  4.925960e+05
taxamount                     77376.0  5.995532e+03  7.622844e+03
taxdelinquencyyear             2886.0  1.408732e+01  2.185663e+00
typeconstructiontypeid          222.0  6.040541e+00  5.572847e-01
censustractandblock           77137.0  6.049673e+13  1.535242e+12
logerror                      77381.0  1.662499e-02  1.701908e-01
transactions                  77381.0  1.002559e+00  5.128151e-02
tax_rate                      77375.0  1.316904e-02  5.828083e-03

                                       min           25%           50%  \
id                            3.490000e+02  7.520700e+05  1.497932e+06
parcelid                      1.071186e+07  1.153830e+07  1.253157e+07
airconditioningtypeid         1.000000e+00  1.000000e+00  1.000000e+00
architecturalstyletypeid      2.000000e+00  7.000000e+00  7.000000e+00
basementsqft                  3.800000e+01  2.730000e+02  5.150000e+02
bathroomcnt                   0.000000e+00  2.000000e+00  2.000000e+00
bedroomcnt                    0.000000e+00  2.000000e+00  3.000000e+00
buildingclasstypeid           3.000000e+00  4.000000e+00  4.000000e+00
buildingqualitytypeid         1.000000e+00  6.000000e+00  6.000000e+00
calculatedbathnbr             1.000000e+00  2.000000e+00  2.000000e+00
calculatedfinishedsquarefeet  1.280000e+02  1.182000e+03  1.543000e+03
decktypeid                    6.600000e+01  6.600000e+01  6.600000e+01
finishedfloor1squarefeet      4.400000e+01  9.550000e+02  1.257000e+03
finishedsquarefeet12          1.280000e+02  1.172000e+03  1.523000e+03
finishedsquarefeet13          1.056000e+03  1.344000e+03  1.440000e+03
finishedsquarefeet15          5.980000e+02  1.625000e+03  2.094000e+03
finishedsquarefeet50          4.400000e+01  9.560000e+02  1.259000e+03
finishedsquarefeet6           3.800000e+02  9.937500e+02  1.812500e+03
fips                          6.037000e+03  6.037000e+03  6.037000e+03
fireplacecnt                  1.000000e+00  1.000000e+00  1.000000e+00
fullbathcnt                   1.000000e+00  2.000000e+00  2.000000e+00
garagecarcnt                  0.000000e+00  2.000000e+00  2.000000e+00
garagetotalsqft               0.000000e+00  0.000000e+00  4.360000e+02
hashottuborspa                1.000000e+00  1.000000e+00  1.000000e+00
heatingorsystemtypeid         1.000000e+00  2.000000e+00  2.000000e+00
latitude                      3.333953e+07  3.381457e+07  3.402200e+07
longitude                    -1.194754e+08 -1.184153e+08 -1.181808e+08
lotsizesquarefeet             2.360000e+02  5.700000e+03  7.206000e+03
poolcnt                       1.000000e+00  1.000000e+00  1.000000e+00
propertylandusetypeid         3.100000e+01  2.610000e+02  2.610000e+02
rawcensustractandblock        6.037101e+07  6.037311e+07  6.037603e+07
regionidcity                  3.491000e+03  1.244700e+04  2.521800e+04
regionidcounty                1.286000e+03  1.286000e+03  3.101000e+03
regionidneighborhood          6.952000e+03  4.673600e+04  1.188490e+05
regionidzip                   9.598200e+04  9.619300e+04  9.638900e+04
roomcnt                       0.000000e+00  0.000000e+00  0.000000e+00
storytypeid                   7.000000e+00  7.000000e+00  7.000000e+00
taxvaluedollarcnt             1.000000e+03  2.070000e+05  3.589755e+05
threequarterbathnbr           1.000000e+00  1.000000e+00  1.000000e+00
unitcnt                       1.000000e+00  1.000000e+00  1.000000e+00
yardbuildingsqft17            1.100000e+01  1.700000e+02  2.510000e+02
yardbuildingsqft26            1.200000e+01  6.150000e+01  1.645000e+02
yearbuilt                     1.824000e+03  1.953000e+03  1.970000e+03
numberofstories               1.000000e+00  1.000000e+00  1.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    4.400000e+01  8.426500e+04  1.364990e+05
assessmentyear                2.016000e+03  2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         1.610000e+02  8.550400e+04  2.033720e+05
taxamount                     1.992000e+01  2.715632e+03  4.450695e+03
taxdelinquencyyear            3.000000e+00  1.400000e+01  1.500000e+01
typeconstructiontypeid        4.000000e+00  6.000000e+00  6.000000e+00
censustractandblock           6.037101e+13  6.037311e+13  6.037603e+13
logerror                     -4.655420e+00 -2.437679e-02  6.626972e-03
transactions                  1.000000e+00  1.000000e+00  1.000000e+00
tax_rate                      9.372442e-05  1.165990e-02  1.228447e-02

                                       75%           max
id                            2.240535e+06  2.982274e+06
parcelid                      1.421183e+07  1.676893e+08
airconditioningtypeid         1.000000e+00  1.300000e+01
architecturalstyletypeid      7.000000e+00  2.100000e+01
basementsqft                  7.965000e+02  3.560000e+03
bathroomcnt                   3.000000e+00  1.800000e+01
bedroomcnt                    4.000000e+00  1.600000e+01
buildingclasstypeid           4.000000e+00  4.000000e+00
buildingqualitytypeid         8.000000e+00  1.200000e+01
calculatedbathnbr             3.000000e+00  1.800000e+01
calculatedfinishedsquarefeet  2.113000e+03  3.564000e+04
decktypeid                    6.600000e+01  6.600000e+01
finishedfloor1squarefeet      1.615000e+03  6.912000e+03
finishedsquarefeet12          2.076000e+03  2.192900e+04
finishedsquarefeet13          1.440000e+03  1.560000e+03
finishedsquarefeet15          2.838000e+03  3.564000e+04
finishedsquarefeet50          1.621500e+03  1.246700e+04
finishedsquarefeet6           3.053500e+03  5.598000e+03
fips                          6.059000e+03  6.111000e+03
fireplacecnt                  1.000000e+00  5.000000e+00
fullbathcnt                   3.000000e+00  1.800000e+01
garagecarcnt                  2.000000e+00  1.400000e+01
garagetotalsqft               4.930000e+02  4.251000e+03
hashottuborspa                1.000000e+00  1.000000e+00
heatingorsystemtypeid         7.000000e+00  2.400000e+01
latitude                      3.417439e+07  3.481877e+07
longitude                    -1.179284e+08 -1.175546e+08
lotsizesquarefeet             1.183100e+04  6.971010e+06
poolcnt                       1.000000e+00  1.000000e+00
propertylandusetypeid         2.660000e+02  2.750000e+02
rawcensustractandblock        6.059042e+07  6.111009e+07
regionidcity                  4.545700e+04  3.965560e+05
regionidcounty                3.101000e+03  3.101000e+03
regionidneighborhood          2.747650e+05  7.641670e+05
regionidzip                   9.698700e+04  3.996750e+05
roomcnt                       0.000000e+00  1.500000e+01
storytypeid                   7.000000e+00  7.000000e+00
taxvaluedollarcnt             5.690015e+05  4.906124e+07
threequarterbathnbr           1.000000e+00  7.000000e+00
unitcnt                       1.000000e+00  2.370000e+02
yardbuildingsqft17            3.640000e+02  3.191000e+03
yardbuildingsqft26            3.105000e+02  8.680000e+02
yearbuilt                     1.987000e+03  2.016000e+03
numberofstories               2.000000e+00  6.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    2.187870e+05  1.142179e+07
assessmentyear                2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         3.667965e+05  4.895220e+07
taxamount                     6.927790e+03  5.866393e+05
taxdelinquencyyear            1.500000e+01  9.900000e+01
typeconstructiontypeid        6.000000e+00  1.300000e+01
censustractandblock           6.059042e+13  4.830301e+14
logerror                      3.920313e-02  5.262999e+00
transactions                  1.000000e+00  3.000000e+00
tax_rate                      1.345336e-02  8.164900e-01

ending frame_splain ; time: 0.7848401069641113

3: **Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.**

||num_rows_missing|pct_rows_missing|
|:---|---:|---:|
|parcelid|0|0.000000|
|airconditioningtypeid|29041|0.535486|
|architecturalstyletypeid|54232|0.999982|

In [12]:
@timeifdebug
def get_column_values_stats(
        df, 
        get_cols=[], 
        max_uniques=10, 
        target_col='',
        limit_to_max=False,
        **kwargs
        ):
    '''
    get_column_values_stats(
        df, 
        get_cols=[], 
        max_uniques=10, 
        target_col='', 
        limit_to_max=False,
        **kwargs
        )
    RETURNS summary dataframe

    Receives dataframe as input, examines all columns defined as objects, and
    returns a summary report with column name as its index.

    Report shows the following information about the columns of the dataframe:
        cols: column name
        dtypes: data type
        num_rows_values: number of rows with non-null values 
        num_rows_missing: number of rows with missing values
        pct_rows_missing: percentage of rows with missing values
        num_uniques: number of unique values 
        unique_values: list of unique values if the unique value count is less than 
            or equal to max_uniques.
        
    If the input dataframe contains the target column, enter that name as the 
    target_col argument and it will be removed from the analysis.
    
    If limit_to_max is True (default), the resulting dataframe will only show
    columns with no more unique values than specified in max_uniques.
    
    NOTE: This function can be used to identify and then re-type catergorical
    columns. Run the function with the following parameters, change the data 
    types of know categorical values to 'category', then re-run this function, 
    gradually increasing the max_uniques value until the desired limit for 
    categoricals has been met.
    
    get_column_values_stats(
        df, 
        get_cols=df.columns[df.dtypes!='category'],
        max_uniques=5,
        limit_to_max=True
        )
    '''
    # get rowcount
    num_recs = len(df)
    
    # if no columns presented, get all columns from df
    use_cols = df.columns if len(get_cols) == 0 else get_cols
    # ensure use_cols are actually present in df
    cols = [col for col in use_cols if col in df.columns]
    
    # make df for all columns, exclude target column if passed
    df_cols = pd.DataFrame(cols, columns=['cols'])
    df_cols = df_cols[df_cols.cols != target_col]
    
    # get statistics on all columns
    df_cols['dtype'] = df_cols.cols.apply(lambda x: df[x].dtype)
    df_cols['num_rows_values'] = df_cols.cols.apply(lambda x: df[x].count())
    df_cols['num_rows_missing'] = num_recs - df_cols.num_rows_values
    df_cols['pct_rows_missing'] = df_cols.num_rows_missing / num_recs
    df_cols['num_uniques'] = df_cols.cols.apply(lambda x: df[x].nunique())
    
    # get unique valeues for columns within unique value limits
    df_cats = df_cols[df_cols.num_uniques <= max_uniques]
    df_cats['unique_values'] = df_cats.cols.apply(lambda x: df[x].unique())
    
    # merge and set index
    join_type = 'inner' if limit_to_max else 'left'
    df_cols = df_cols.join(df_cats.unique_values, how=join_type)
    return df_cols.set_index('cols')

**Find string categoricals**

In [13]:
df_strings = get_column_values_stats(
    df, 
    get_cols=df.columns[df.dtypes=='object'],
    max_uniques=20000,
    limit_to_max=True
)
df_strings

starting get_column_values_stats
ending get_column_values_stats ; time: 0.5404069423675537

,dtype,num_rows_values,num_rows_missing,pct_rows_missing,num_uniques,unique_values
cols,,,,,,
airconditioningdesc,object,24953,52428,0.677531,5,"[nan, Central, Yes, None, Wall Unit, Refrigera..."
architecturalstyledesc,object,206,77175,0.997338,5,"[nan, Contemporary, Conventional, Ranch/Ramble..."
buildingclassdesc,object,15,77366,0.999806,2,"[nan, Buildings having wood or wood and steel ..."
county,object,77381,0,0.000000,3,"[Ventura, Los Angeles, Orange]"
state,object,77381,0,0.000000,1,[CA]
heatingorsystemdesc,object,49440,27941,0.361083,10,"[nan, Central, Floor/Wall, Forced air, Yes, No..."
propertycountylandusecode,object,77381,0,0.000000,75,"[1110, 1129, 1111, 1321, 1410, 0101, 010C, 010..."
propertylandusedesc,object,77381,0,0.000000,13,"[Single Family Residential, Condominium, Tripl..."
propertyzoningdesc,object,50331,27050,0.349569,1907,"[nan, LCR110000*, LAR3, PSR2, GLR4YY, WHRE2000..."
storydesc,object,50,77331,0.999354,1,"[nan, Basement]"
taxdelinquencyflag,object,2886,74495,0.962704,1,"[nan, Y]"
typeconstructiondesc,object,222,77159,0.997131,4,"[nan, Frame, Masonry, Metal, Concrete]"

In [14]:
df_strings.index

Index(['airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
       'county', 'state', 'heatingorsystemdesc', 'propertycountylandusecode',
       'propertylandusedesc', 'propertyzoningdesc', 'storydesc',
       'taxdelinquencyflag', 'typeconstructiondesc'],
      dtype='object', name='cols')

In [15]:
string_categoricals = [
    'airconditioningdesc', 
    'architecturalstyledesc', 
    'buildingclassdesc', 
    'county', 
    'state', 
    'heatingorsystemdesc', 
    'propertycountylandusecode', 
    'propertylandusedesc', 
    'propertyzoningdesc', 
    'storydesc', 
    'taxdelinquencyflag', 
    'typeconstructiondesc'
]

In [16]:
df = prep.retype_cols(df, cols=string_categoricals, to_dtype='category')
df.info()

starting retype_cols
ending retype_cols ; time: 0.3244800567626953
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null category
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null category
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null category
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
county                          77381 non-null category
state                           77381 non-null category
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null category
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
propertycountylandusecode       77381 non-null category
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null category
propertyzoningdesc              50331 non-null category
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null category
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null category
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null category
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null datetime64[ns]
logerror                        77381 non-null float64
transactions                    77381 non-null int64
tax_rate                        77375 non-null float64
dtypes: category(12), datetime64[ns](1), float64(52), int64(3)
memory usage: 34.1 MB

**Find Numeric Categoricals**

In [17]:
df_cat_check = get_column_values_stats(
    df, 
    get_cols=df.columns[df.dtypes!='category'],
    max_uniques=750000,
    limit_to_max=True
)
df_cat_check

starting get_column_values_stats
ending get_column_values_stats ; time: 0.45628833770751953

,dtype,num_rows_values,num_rows_missing,pct_rows_missing,num_uniques,unique_values
cols,,,,,,
id,int64,77381,0,0.000000,77381,"[1387261, 1447245, 43675, 1327940, 1431120, 19..."
parcelid,int64,77381,0,0.000000,77381,"[17052889, 17143294, 17110996, 17153340, 17153..."
airconditioningtypeid,float64,24953,52428,0.677531,5,"[nan, 1.0, 13.0, 5.0, 11.0, 9.0]"
architecturalstyletypeid,float64,206,77175,0.997338,5,"[nan, 7.0, 8.0, 21.0, 3.0, 2.0]"
basementsqft,float64,50,77331,0.999354,43,"[nan, 900.0, 1416.0, 224.0, 100.0, 512.0, 380...."
bathroomcnt,float64,77381,0,0.000000,22,"[1.0, 2.0, 2.5, 3.5, 3.0, 1.5, 0.0, 4.5, 6.0, ..."
bedroomcnt,float64,77381,0,0.000000,16,"[2.0, 3.0, 4.0, 0.0, 5.0, 6.0, 1.0, 7.0, 8.0, ..."
buildingclasstypeid,float64,15,77366,0.999806,2,"[nan, 4.0, 3.0]"
buildingqualitytypeid,float64,49672,27709,0.358085,12,"[nan, 8.0, 9.0, 5.0, 4.0, 6.0, 7.0, 10.0, 3.0,..."
calculatedbathnbr,float64,76772,609,0.007870,21,"[1.0, 2.0, 2.5, 3.5, 3.0, 1.5, nan, 4.5, 6.0, ..."
calculatedfinishedsquarefeet,float64,77185,196,0.002533,4972,"[1465.0, 1492.0, 1371.0, 4018.0, 1442.0, 1164...."
decktypeid,float64,614,76767,0.992065,1,"[nan, 66.0]"
finishedfloor1squarefeet,float64,6023,71358,0.922164,1787,"[1465.0, 842.0, 632.0, 4018.0, 1442.0, 611.0, ..."
finishedsquarefeet12,float64,73749,3632,0.046937,4868,"[1465.0, 1492.0, 1371.0, 4018.0, 1442.0, 1164...."
finishedsquarefeet13,float64,41,77340,0.999470,13,"[nan, 1440.0, 1344.0, 1152.0, 1536.0, 1392.0, ..."
finishedsquarefeet15,float64,3009,74372,0.961114,1724,"[nan, 3435.0, 3626.0, 1534.0, 1298.0, 1276.0, ..."
finishedsquarefeet50,float64,6023,71358,0.922164,1807,"[1465.0, 842.0, 632.0, 4018.0, 1442.0, 611.0, ..."
finishedsquarefeet6,float64,386,76995,0.995012,350,"[nan, 2482.0, 624.0, 4198.0, 5041.0, 1482.0, 7..."
fips,float64,77381,0,0.000000,3,"[6111.0, 6037.0, 6059.0]"
fireplacecnt,float64,8276,69105,0.893049,5,"[1.0, nan, 3.0, 2.0, 4.0, 5.0]"
fullbathcnt,float64,76772,609,0.007870,13,"[1.0, 2.0, 3.0, nan, 4.0, 6.0, 5.0, 7.0, 9.0, ..."
garagecarcnt,float64,25474,51907,0.670798,14,"[1.0, 2.0, 3.0, 5.0, nan, 4.0, 0.0, 7.0, 6.0, ..."
garagetotalsqft,float64,25474,51907,0.670798,839,"[0.0, 447.0, 437.0, 484.0, 828.0, 504.0, 532.0..."
hashottuborspa,float64,1538,75843,0.980124,1,"[nan, 1.0]"
heatingorsystemtypeid,float64,49440,27941,0.361083,10,"[nan, 2.0, 7.0, 6.0, 24.0, 13.0, 18.0, 20.0, 1..."
latitude,float64,77381,0,0.000000,64038,"[34449266.0, 34230044.0, 34238229.0, 34184029...."
longitude,float64,77381,0,0.000000,62461,"[-119281531.0, -118993991.0, -119170633.0, -11..."
lotsizesquarefeet,float64,69142,8239,0.106473,18848,"[12647.0, 903.0, 3445.0, nan, 7300.0, 11200.0,..."
poolcnt,float64,16137,61244,0.791460,1,"[nan, 1.0]"
propertylandusetypeid,float64,77381,0,0.000000,13,"[261.0, 266.0, 247.0, 248.0, 260.0, 269.0, 246..."
rawcensustractandblock,float64,77381,0,0.000000,39194,"[61110010.02300601, 61110053.062009, 61110050...."
regionidcity,float64,75910,1471,0.019010,175,"[13091.0, 51239.0, 13150.0, 27110.0, 41673.0, ..."
regionidcounty,float64,77381,0,0.000000,3,"[2061.0, 3101.0, 1286.0]"
regionidneighborhood,float64,30890,46491,0.600806,480,"[nan, 762930.0, 46736.0, 268548.0, 274684.0, 2..."
regionidzip,float64,77331,50,0.000646,389,"[97099.0, 97091.0, 97107.0, 97106.0, 97118.0, ..."
roomcnt,float64,77381,0,0.000000,16,"[5.0, 6.0, 4.0, 7.0, 9.0, 8.0, 0.0, 10.0, 11.0..."
storytypeid,float64,50,77331,0.999354,1,"[nan, 7.0]"
taxvaluedollarcnt,float64,77380,1,0.000013,50949,"[464000.0, 331064.0, 198054.0, 1044060.0, 5970..."
threequarterbathnbr,float64,10096,67285,0.869529,4,"[nan, 1.0, 2.0, 7.0, 3.0]"
unitcnt,float64,50563,26818,0.346571,8,"[nan, 3.0, 1.0, 2.0, 4.0, 45.0, 42.0, 6.0, 237.0]"
yardbuildingsqft17,float64,2388,74993,0.969140,540,"[nan, 306.0, 160.0, 318.0, 252.0, 196.0, 245.0..."
yardbuildingsqft26,float64,70,77311,0.999095,59,"[nan, 196.0, 300.0, 56.0, 88.0, 120.0, 160.0, ..."
yearbuilt,float64,77118,263,0.003399,136,"[1967.0, 1982.0, 2004.0, 1991.0, 2007.0, 1985...."
numberofstories,float64,17560,59821,0.773071,4,"[1.0, 2.0, nan, 3.0, 6.0]"
fireplaceflag,float64,172,77209,0.997777,1,"[nan, 1.0]"
structuretaxvaluedollarcnt,float64,77269,112,0.001447,50430,"[88000.0, 198640.0, 99026.0, 522030.0, 358000...."
assessmentyear,float64,77381,0,0.000000,1,[2016.0]
landtaxvaluedollarcnt,float64,77379,2,0.000026,51600,"[376000.0, 132424.0, 99028.0, 522030.0, 239000..."
taxamount,float64,77376,5,0.000065,73825,"[5672.48, 3508.1, 2204.84, 12738.54, 8442.56, ..."
taxdelinquencyyear,float64,2886,74495,0.962704,13,"[nan, 15.0, 14.0, 9.0, 11.0, 10.0, 13.0, 12.0,..."
typeconstructiontypeid,float64,222,77159,0.997131,4,"[nan, 6.0, 13.0, 10.0, 4.0]"
censustractandblock,float64,77137,244,0.003153,39006,"[61110010023006.0, 61110053062009.0, 611100500..."
transactiondate,datetime64[ns],77381,0,0.000000,264,"[2017-01-01T00:00:00.000000000, 2017-01-02T00:..."
logerror,float64,77381,0,0.000000,76837,"[0.0556190874015, -0.020526269034, 0.008668896..."
transactions,int64,77381,0,0.000000,3,"[1, 2, 3]"
tax_rate,float64,77375,6,0.000078,76975,"[0.012225172413793102, 0.010596440567382742, 0..."

In [18]:
df_cat_check.index

Index(['id', 'parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr',
       'calculatedfinishedsquarefeet', 'decktypeid',
       'finishedfloor1squarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'propertylandusetypeid', 'rawcensustractandblock',
       'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip',
       'roomcnt', 'storytypeid', 'taxvaluedollarcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount',
       'taxdelinquencyyear', 'typeconstructiontypeid', 'censustractandblock',
       'transactiondate', 'logerror', 'transactions', 'tax_rate'],
      dtype='object', name='cols')

In [19]:
numeric_categoricals = [
    'airconditioningtypeid', 
    'architecturalstyletypeid', 
    'buildingclasstypeid', 
    'buildingqualitytypeid',
    'decktypeid', 
    'fips', 
    'hashottuborspa',
    'heatingorsystemtypeid',
    'pooltypeid10', 
    'pooltypeid2', 
    'pooltypeid7', 
    'propertylandusetypeid',
    'regionidcounty', 
    'regionidcity',
    'regionidneighborhood',
    'regionidzip',
    'rawcensustractandblock',
    'censustractandblock',
    'storytypeid', 
    'threequarterbathnbr', 
    'numberofstories', 
    'fireplaceflag', 
    'assessmentyear', 
    'typeconstructiontypeid', 
    'transactions'
]

In [20]:
df = prep.retype_cols(df, cols=numeric_categoricals, to_dtype='category')
df.info()

starting retype_cols
ending retype_cols ; time: 0.32583189010620117
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null category
airconditioningdesc             24953 non-null category
architecturalstyletypeid        206 non-null category
architecturalstyledesc          206 non-null category
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null category
buildingclassdesc               15 non-null category
buildingqualitytypeid           49672 non-null category
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null category
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null category
county                          77381 non-null category
state                           77381 non-null category
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null category
heatingorsystemtypeid           49440 non-null category
heatingorsystemdesc             49440 non-null category
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
propertycountylandusecode       77381 non-null category
propertylandusetypeid           77381 non-null category
propertylandusedesc             77381 non-null category
propertyzoningdesc              50331 non-null category
rawcensustractandblock          77381 non-null category
regionidcity                    75910 non-null category
regionidcounty                  77381 non-null category
regionidneighborhood            30890 non-null category
regionidzip                     77331 non-null category
roomcnt                         77381 non-null float64
storytypeid                     50 non-null category
storydesc                       50 non-null category
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null category
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null category
fireplaceflag                   172 non-null category
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null category
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null category
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null category
typeconstructiondesc            222 non-null category
censustractandblock             77137 non-null category
transactiondate                 77381 non-null datetime64[ns]
logerror                        77381 non-null float64
transactions                    77381 non-null category
tax_rate                        77375 non-null float64
dtypes: category(34), datetime64[ns](1), float64(31), int64(2)
memory usage: 26.6 MB

4. **Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.**

num_cols_missing|pct_cols_missing|num_rows
:---|---:|---:
23|38.333|108
24|40.000|123
25|41.667|5280

In [21]:
def nulls_by_row(df):
    total_cols = df.shape[1]
    num_cols_missing = df.isnull().sum(axis=1)
    pct_cols_missing = df.isnull().sum(axis=1)/ total_cols
    rows_missing = (
        pd.DataFrame(
        {
            'num_cols_missing': num_cols_missing, 
            'pct_cols_missing': pct_cols_missing
        }
        )
        .reset_index()
        .groupby(['num_cols_missing','pct_cols_missing'])
        .count()
        .rename(index=str, columns={'index': 'num_rows'})
        .reset_index()
    )
    return rows_missing

In [22]:
nulls_by_row(df)

   num_cols_missing     pct_cols_missing  num_rows
0                20  0.29411764705882354         2
1                21   0.3088235294117647        11
2                22   0.3235294117647059        25
3                23   0.3382352941176471        63
4                24  0.35294117647058826       266
5                25  0.36764705882352944       529
6                26  0.38235294117647056      5408
7                27  0.39705882352941174     10221
8                28   0.4117647058823529     13116
9                29   0.4264705882352941     15827
10               30   0.4411764705882353     13717
11               31  0.45588235294117646      5971
12               32  0.47058823529411764      5923
13               33   0.4852941176470588      3639
14               34                  0.5      1926
15               35   0.5147058823529411       288
16               36   0.5294117647058824       230
17               37   0.5441176470588235        29
18               38   0.5588235294117647        23
19               39   0.5735294117647058        28
20               40   0.5882352941176471        78
21               41   0.6029411764705882        50
22               42   0.6176470588235294         5
23               43   0.6323529411764706         3
24               44   0.6470588235294118         3

#### Prepare

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

2. Create a function that will drop rows or columns based on the percent of values that are missing: `handle_missing_values(df, prop_required_column, prop_required_row)`.

   - The input:
       - A dataframe
       - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
       - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
   - The output:
       - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
   - hint:
       - Look up the dropna documentation.
       - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
       - Make use of inplace, i.e. inplace=True/False.

In [23]:
def handle_missing_values(
    df, 
    prop_required_column, 
    prop_required_row
    ):
    '''
    handle_missing_values(
    df, 
    prop_required_column=.9, 
    prop_required_row=.9
    )
    '''

3. Decide how to handle the remaining missing values:
   - Fill with constant value.
   - Impute with mean, median, mode.
   - Drop row/column

In [27]:
df_sqft = df[['calculatedfinishedsquarefeet',
'finishedfloor1squarefeet',
'finishedsquarefeet6',
'finishedsquarefeet12',
'finishedsquarefeet13',
'finishedsquarefeet15',
'finishedsquarefeet50'
]]

#### `wrangle_zillow.py`

Functions of the work above needed to acquire and prepare a new sample of data.

In [28]:
df_sqft[df_sqft.calculatedfinishedsquarefeet.isna() & (df_sqft.finishedsquarefeet50.isna()==False)]

Empty DataFrame
Columns: [calculatedfinishedsquarefeet, finishedfloor1squarefeet, finishedsquarefeet6, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50]
Index: []

In [26]:
df_pool = df[['poolcnt','poolsizesum','pooltypeid2','pooltypeid7','pooltypeid10']]
df_pool[(df_pool.poolcnt.isna()==False) | (df_pool.pooltypeid10.isna()==False)]

KeyError: "['pooltypeid2', 'pooltypeid10', 'poolsizesum', 'pooltypeid7'] not in index"