In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('instructors/coffee_consumption.csv')
df

           date  coffee_consumption
0    2019-01-01           14.301915
1    2019-01-02           12.905900
2    2019-01-03           10.046015
3    2019-01-04            6.354805
4    2019-01-07            8.545563
5    2019-01-08            9.410101
6    2019-01-09            7.219271
7    2019-01-10            9.338456
8    2019-01-11           11.872667
9    2019-01-14            9.198816
10   2019-01-15           11.753337
11   2019-01-16           11.567694
12   2019-01-17            9.429428
13   2019-01-18            9.376213
14   2019-01-21           11.343439
15   2019-01-22           10.945944
16   2019-01-23            8.599186
17   2019-01-24            8.141553
18   2019-01-25            9.421176
19   2019-01-28           12.295298
20   2019-01-29           10.336273
21   2019-01-30           12.488651
22   2019-01-31            9.035046
23   2019-02-01            9.042273
24   2019-02-04           12.673222
25   2019-02-05           11.562866
26   2019-02-06            9.532721
27   2019-02-07           10.128274
28   2019-02-08           12.080342
29   2019-02-11           11.449607
..          ...                 ...
231  2019-11-20           12.950513
232  2019-11-21            9.460745
233  2019-11-22           11.184641
234  2019-11-25           11.720168
235  2019-11-26            8.849050
236  2019-11-27           10.735754
237  2019-11-28            8.493458
238  2019-11-29           14.741298
239  2019-12-02           12.578024
240  2019-12-03           11.741155
241  2019-12-04            7.847340
242  2019-12-05           11.323666
243  2019-12-06            9.284118
244  2019-12-09           10.865625
245  2019-12-10           13.154271
246  2019-12-11            7.235589
247  2019-12-12            8.676528
248  2019-12-13           14.583232
249  2019-12-16           12.135125
250  2019-12-17           11.683558
251  2019-12-18            9.058819
252  2019-12-19            7.056316
253  2019-12-20            9.208448
254  2019-12-23            9.162464
255  2019-12-24           10.372400
256  2019-12-25           12.250875
257  2019-12-26            7.513206
258  2019-12-27            9.464345
259  2019-12-30           14.623106
260  2019-12-31           10.168315

[261 rows x 2 columns]

In [4]:
pd.to_datetime('6 Nov 1973 2:35pm')

Timestamp('1973-11-06 14:35:00')